* {
    border: 0;
    padding: 0;
    margin: 0;
}

canvas{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.audio-controls {
    top: 0;
    right: 0;
    z-index: -1;
    position: absolute;
}

.canvas-panel {
    display: flex;
    justify-content: center;
}

.canvas-panel .canvas-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: gainsboro;
}

.canvas-panel .canvas-container canvas {
    margin: auto;
    width: 100vw;
    height: 56.25vw;
    max-height: 100vh;
    max-width: 177.778vh;
    background-color: gray;
}

@media only screen and (orientation: portrait) {
    .canvas-panel .canvas-container canvas {
        height: 100vw;
        left: -38.889vw;
        width: 177.778vw;
        position: absolute;
        top: calc((100vh - 177.778vw) / 2 + 38.889vw);

        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    @media only screen and (max-height: 177.778vw) {
        .canvas-panel .canvas-container canvas {
            width: 100vh;
            top: 21.875vh;
            height: 56.25vh;
            left: calc((100vw - 56.25vh) / 2 - 21.875vh);
        }
    }
}