* {
    border: 0;
    padding: 0;
    margin: 0;
}

.audio-controls {
    top: 0;
    right: 0;
    z-index: -1;
    position: absolute;
}

.canvas-panel .canvas-container {
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
}

.canvas-panel .canvas-container canvas {
    height: 100vw;
    width: 56.25vw;
    left: 21.875vw;
    user-select: none;
    position: absolute;
    background-color: gray;
    top: calc((100vh - 56.25vw) / 2 - 21.875vw);

    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

@media only screen and (min-width: 177.778vh) {
    .canvas-panel .canvas-container canvas {
        width: 100vh;
        top: -38.889vh;
        height: 177.778vh;
        left: calc((100vw - 177.778vh) / 2 + 38.889vh);
    }
}

@media only screen and (orientation: portrait) {
    .canvas-panel {
        display: flex;
        justify-content: center;
    }

    .canvas-panel .canvas-container {
        display: flex;
        align-items: center;
    }

    .canvas-panel .canvas-container canvas {
        margin: auto;
        transform: none;
        position: initial;

        width: 56.25vh;
        height: 100vh;
        max-width: 100vw;
        max-height: 177.778vw;
    }
}